services:
  postgres:
    image: postgres:18
    restart: unless-stopped
    environment:
      POSTGRES_DB:
      POSTGRES_USER:
      POSTGRES_PASSWORD:
    ports:
      - 5432:5432
    volumes:
      - postgres_data:/var/lib/postgresql

  web:
    build: .
    restart: unless-stopped
    environment:
      DATABASE_URL:
      BETTER_AUTH_SECRET:
      RESEND_API_KEY:
    ports:
      - 3000:3000
    depends_on:
      - postgres

volumes:
  postgres_data:
